.header {
    background-color: #f6f9f9;
}
.logo__img {
    margin: 31px 0 31px;
    float: left;
}

.logo__title {
    color: #2d3950;
    font: 700 30px/20px "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    float: left;
    text-decoration: none;
    margin: 40px 0 40px 16px;
}
.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    overflow: hidden;
    margin: 0 auto;
}

.hero__container {
    background: url("../img/hero-background.png") no-repeat center/cover;
}
.strict__headline--title {
    height: 89px;
    color: #ffffff;
    font: 700 120px/47px "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 217px 0 0 0;
}
.hero__container--border {
    border-top: 2px solid #15a4fa;
    width: 600px;
    margin: 24px auto 40px;
}
.hero__container--text {
    color: #ffffff;
    font: 400 20px/47px "Lato", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 0 65px;
}
.hero__container--link {
    border: 1px solid #15a4fa;
    margin: 0 auto 179px;
    width: 100%;
    max-width: 175px;
    text-align: center;
    padding: 20px 0;
}

.hero__container--link:hover {
    background-color: #15a4fa;
}
.hero__container--link-text {
    color: #ffffff;
    font: 400 18px "Lato", sans-serif;
    letter-spacing: 0.45px;
    text-decoration: none;
}
.hero__container-link-arrow {
    background: url("../img/hero__arrow.png") no-repeat center/cover;
    color: #ffffff;
    font: 400 35px/47px "Font Awesome", sans-serif;
    margin: 0 auto 91px;
    width: 20px;
    height: 12px;
}
.simple__container {
    background-color: #f6f9f9;
    text-align: center;
}
.simple__container--title {
    color: #2d3950;
    font: 400 40px "Lato", sans-serif;
    letter-spacing: 1px;
    margin: 81px 0 31px;
}
.simple__container--title-text {
    max-width: 1101px;
    color: #999999;
    font: 400 20px/32px "Lato", sans-serif;
    letter-spacing: 0.5px;
    margin: 0 auto 110px;
}
.menu__container {
    background-color: #ffffff;
    text-align: center;
    padding: 65px 0 0 ;
}
.menu__container--list {
    margin: 0 auto;
    overflow: hidden;
}
.menu__container--item {
    max-width: 326px;
    width: 100%;
    display: block;
    float: left;
    margin: 0 32px 0
}
.menu__container--subtitle {
    color: #2d3950;
    font: 400 22px "Lato", sans-serif;
    letter-spacing: 0.55px;
}
.menu__container--description {
    color: #999999;
    font: 400 15px/22px "Lato", sans-serif;
    letter-spacing: 0.38px;
    margin: 22px 0 64px 0;
}
.menu__container--img {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    margin: 0 auto 32px;
}
.menu__container--img-mobile {
    background: url("../img/menu__mobile.png") no-repeat center/cover;
}
.menu__container--img-clean {
    background: url("../img/menu__clean.png") no-repeat center/cover;
}
.menu__container--item-img-font-awesome-icon {
    background: url("../img/menu__speaker.png") no-repeat center/cover;
}
.showcase__container {
    background-color: #f6f9f9;
    text-align: center;
    padding: 81px 0 0;
}
.showcase__container--title {
    color: #2d3950;
    font: 400 41px "Lato", sans-serif;
    letter-spacing: 1.02px;
    margin: 0 0 22px 0;
}
.showcase__container--title-text {
    color: #909090;
    font: 400 15px/23px "Lato", sans-serif;
    letter-spacing: 0.38px;
    margin: 0 0 80px 0;
}
.showcase__container--list {
    margin: 0 auto 116px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.showcase__container--item {
    max-width: 360px;
    height: 260px;
    width: 100%;
    display: block;
    position: relative;
}
.showcase__container--item:nth-child(3n-1) {
    margin: 0 30px 30px;
}
.showcase__container--item img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.showcase__container--img {
    width: 360px;
    height: 260px;
    margin: 0 auto 30px;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(21,164,250, .9);
}
.showcase__container--item:hover .overlay {
    opacity: .9;
}
.content__zoom--img,
.content__link--img {
    width: 40px;
    height: 40px;
}
.link {
    text-decoration: none;
}
.stay__container {
    background: url("../img/stay__container.png") no-repeat center/cover;
    text-align: center;
    padding: 74px 0 111px;
}
.stay__container--title {
    color: #ffffff;
    font: 400 41px "Lato", sans-serif;
    letter-spacing: 1.02px;
}
.stay__container--title-text {
    color: #999999;
    font: 400 15px/23px "Lato", sans-serif;
    letter-spacing: 0.38px;
    margin: 21px 0 52px;
}
.stay__container--list {
    margin: 0 auto;
    overflow: hidden;
}
.stay__container--form {
    max-width: 553px;
    margin: 0 auto;
}
.stay__container--form-input-type-text {
    width: 100%;
    color: #999999;
    font: 400 15px "Lato", sans-serif;
    letter-spacing: 0.38px;
    border: 1px solid #999999;
    background-color: transparent;
    padding: 25px 0 24px 20px;
    margin: 0 0 22px;
    box-sizing: border-box;
}
.stay__container--form-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: transparent;
    color: #999999;
    font: 400 15px "Lato", sans-serif;
    letter-spacing: 0.38px;
    padding: 25px 0 0 20px;
    box-sizing: border-box;
}
.stay__container--form-input-type-text:hover{
    border: 1px solid #15a4fa;
}
.stay__container--form-textarea:hover {
    border: 1px solid #15a4fa;
}
.stay__container--form-input-type-checkbox {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #9aa1ab;
    background-color: #f6f9f9;
}
.stay__container--label-text {
    color: #ffffff;
    font: 400 15px "Lato", sans-serif;
    letter-spacing: 0.38px;
}
.stay__container--form-link {
    border-radius: 2px;
    border: 1px solid #15a4fa;
    background-color: transparent;
    max-width: 140px;
    width: 100%;
    margin: 22px 0 0 232px;
}
.stay__container--form-link-text {
    color: #ffffff;
    font: 400 18px/47px "Lato", sans-serif;
    letter-spacing: 0.45px;
    text-align: center;
}
.stay__container--form-link:hover {
    background-color: #15a4fa;
}
.footer {
    background-color: #f6f9f9;
    padding: 25px 0;
}
.footer__text {
    color: #999999;
    font: 400 15px"Lato", sans-serif;
    letter-spacing: 0.38px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list {
    display: flex;
    flex-direction: row;
}
.footer__item {
    float: right;
    display: block;
    margin-right: 5px;
}
.footer__list--link-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: .4s;
    text-decoration: none;
}
.fa-facebook-f,
.fa-twitter,
.fa-linkedin-in,
.fa-google-plus-g {
    font-size: 16px;
    color: #ffffff;
}
.footer__list--link-img-1 {
    background: #3b5998;
}
.footer__list--link-img-1:hover,
.footer__list--link-img-2:hover,
.footer__list--link-img-3:hover,
.footer__list--link-img-4:hover {
    background: #15a4fa;
}
.footer__list--link-img-2{
    background: #55acee;
}
.footer__list--link-img-3 {
    background: #dd4b39;
}
.footer__list--link-img-4 {
    background: #0976b4;
}

